
*.psd
blueprint/s0toolupdate.yaml

static/s0tool-1000imp/s0-puls1000imp-manifest.json
static/s0tool-2000imp/s0-puls2000imp-manifest.json
static/s0tool-esp8266/manifest.json

static/s0tool-watermeter/s0tool-watermeter.bin
