# Delen en bewerken mag maar laat deze eerste regels staan.
# Bron : https://www.huizebruin.nl
# Bron File : https://github.com/huizebruin/s0tool/tree/main/esphome
# © Huizebruin.nl
#  # ⬇ Enable Home Assistant API ⬇ # 
api:
  services:
    - service: meterstand_water
      variables:
        meter_value: float
      then:
        - globals.set:
            id: initial_water_usage
            value: !lambda |
              auto option = id(Select_pulse_water).current_option();
              return ( meter_value - (id(total_water_pulses)) * atof(option.c_str()) );
        - globals.set:
            id: total_water_pulses
            value:  "0"
            

globals:
  - id: initial_water_usage
    type: float
    restore_value: yes
    initial_value: '0'
  - id: total_water_pulses
    type: int
    restore_value: yes
    initial_value: '0'
    
#------------------------# Watermeter #------------------------#
binary_sensor:
  - platform: gpio
    id: water_sensor_status
    name: "Water sensor status"
    internal: false
    use_interrupt: false
    pin:
      number: D2
      allow_other_uses: true
      inverted: true
      mode:
        input: true
    on_press:
      - then:
          lambda: id(total_water_pulses) += 1;

sensor:
#------------------------# Watermeter #------------------------#
# ⬇ watermeter pulsen ⬇ #
  - platform: pulse_counter
    pin: 
      number: D2
      allow_other_uses: true
    id: watermeter_pulse
    name: "watermeter pulse"
    state_class: measurement
    unit_of_measurement: "L/min"
    update_interval: 2sec
    internal_filter: 10us
    accuracy_decimals: 1
    icon: "mdi:water-pump"
    filters:
      - multiply: 0.0167

# ⬇ Totaal watermeter ⬇ #      
    total:
      id: sensor_pulse_meter_total
      name: "watermeter Totaal"
      unit_of_measurement: "m³"
      state_class: total_increasing
      device_class: water
      accuracy_decimals: 3
      filters:
        lambda: |
          auto option = id(Select_pulse_water).current_option();
          return x * atof(option.c_str());

      
# ⬇ Watermeter stand bij benadering ⬇ #
  - platform: template
    id: watermeter_total
    name: "watermeter stand"
    state_class: "total_increasing"
    icon: mdi:water
    unit_of_measurement: "m³"
    accuracy_decimals: 3
    lambda: |
      auto option = id(Select_pulse_water).current_option();
      return id(initial_water_usage) + (id(total_water_pulses) * atof(option.c_str()));

